.typed-text {
    display: flex;
    align-items: center;
    white-space: pre;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    padding: 5px;
}

.cursor {
    animation: blinkCursor 0.7s infinite;
    font-weight:bold;
}

.typewriter-text-container {
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 100%;
}

.typewriter-text {
    white-space: pre;
    letter-spacing: 5px;
    overflow:scroll;
}

#terminal-sign {

}

@keyframes blinkCursor {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}