* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
  }

  ::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
  }

#mobile-layout {
    background-color: rgba(232, 218, 204, 1);
    width: 100%;
}

#mobile-navbar {
    .nav-tab {
        font-size: 0.8rem;
    }
}

.mobile-placeholder {
    height: 20px;
    width: 100%;
    border-top: 8px dotted rgba(255, 87, 51, 1);
}

.mobile-projects-container {
    height: 100vh;
}

.mobile-about-container {
    height: 100vh;
}

#intro-typewriter-mobile {
    flex-direction: column;
    align-items: flex-start;
    font-size: 55px;
    font-weight: bold;
    padding-left: 5%;
    color: rgba(255, 87, 51, 1);
}
#portfolio-text {
    border-top: 3px solid rgba(255, 87, 51, 1);
    border-bottom: 3px solid rgba(255, 87, 51, 1);
    margin-top: 40px;
    padding: 5px;
}