* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
  }

  ::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
  }

#mobile-layout {
    background-color: rgba(232, 218, 204, 1);
    width: 100%;
}

#mobile-navbar {
    .nav-tab {
        font-size: 0.8rem;
    }
}

.mobile-placeholder {
    height: 30px;
    width: 100%;
    border-top: 8px dotted rgba(255, 87, 51, 1);
    border-bottom: 8px dotted rgba(255, 87, 51, 1);
}

.mobile-projects-container {
    height: 100vh;
}

.mobile-about-container {
    height: 100vh;
    opacity: 0;
}

#intro-typewriter-mobile {
    flex-direction: column;
    align-items: flex-start;
    font-size: 60px;
    font-weight: bold;
    padding-left: 5%;
    color: rgba(255, 87, 51, 1);
}
#portfolio-text {
    border-top: 3px solid #BC13FE;
    border-bottom: 3px solid #BC13FE;
    margin-top: 40px;
    padding: 5px;
    font-size: 24px;
    width: 70%;
    color: #BC13FE;
    animation: changeWidth 2s ease-out forwards;
}

.mobile-projects-container {
    opacity: 0;
}

.container-animation {
    opacity: 0;
    animation: fadeAnimation 0.5s ease-out forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes changeWidth {
    0% {
        width: 50%;
    }
    100% {
        width: 80%;
    }
}

.contact-me-anim {
    opacity: 0;
}