@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
  }
  
::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

.linkActivate {
  text-decoration: none;
  color: rgba(255, 87, 51, 1);
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.linkActivate:hover {
  color: #00c703;
  border-bottom: 4px solid #00c703;
  font-weight: 600;
}

.active-tab .linkActivate {
  color: #00c703;
  border-bottom: 4px solid #00c703;
  font-weight: 600;
}


.scroll-action {
  width: 100%;
  bottom: 0;
  position: fixed;
}

.layout {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  z-index: 10;
  cursor: pointer;
  font-weight: bold;
}

.nav-tab {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
}

.intro-typewriter {
  background: linear-gradient(to bottom, rgba(232, 218, 204, 1), 88%, rgba(232, 218, 204, 0));
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .typed-text {
    font-size: 2rem;
    border: 3px solid rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    color: rgba(255, 87, 51, 1);
  }
  .cursor {
    font-size: 3rem;
    color: #00c703;
  }
  #terminal-sign {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.65);
  }
}

.intro-typewriter:hover {
  cursor: default;
}

#placeholder-1 {
  height: 30vh;
}
#placeholder-2 {
  height: 30vh;
}
#placeholder-3 {
  height: 50vh;
}

.projects-slider {
  height: 215vh;
  width: 100%;
  max-width: 1400px;
}

.projects-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-me-slider {
  width: 100%;
  height: 185vh;
  max-width: 1400px;
}

.about-me-container {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.contact-me {
  height: 100vh;
  width: 100vw;
  background-color: rgba(232, 218, 204, 1);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .intro-typewriter {
    .typed-text {
      font-size: 1.3rem;
    }
    .cursor {
      font-size: 2rem;
    }
    #terminal-sign {
      font-size: 2rem;
    }
  }
  .nav-tab {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .intro-typewriter {
    padding: 0;
    margin: 0;
    .typed-text {
      font-size: 0.6rem;
      border: 1.5px solid black;
    }
    .cursor {
      font-size: 1rem;
    }
    #terminal-sign {
      font-size: 1rem;
    }
  }
}
